@import url('https://fonts.googleapis.com/css?family=Gotu|Open+Sans+Condensed:300|Playfair+Display&display=swap');
h1 {
    color: deepskyblue; 
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}
h2{
    color: darkblue;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}
p {
    color: blue;
    font-family: 'Gotu', sans-serif;
    padding: 20px;
    text-align: justify;
}
footer{
    color: darkcyan;
    font-family: 'Gotu', sans-serif;
}
body {
    background: lightgrey;
}
table {
    width: 100%;
}
th,
td {
    border: 1px solid whitesmoke;
}
a{
    color: darkmagenta;
    font-size: 15px;
    text-decoration: none;
}
main{
    background: wheat;
    max-width: 700px;
    margin: auto;
    padding: 10px;
}
.footer_top {
    background: wheat;
    color: tomato;
    text-decoration: none;
    font-size: 15px;
    bottom: 20px;
    right: 20px;
    padding: 5px;
}
